@import url(reset.css);


.region-name {
    color: blueviolet;
}

.city-list li {
    color: green;
}

p.text-color {
    color: slateblue;
}

.conclusion-text>p {
    color: yellow;
}

p {
    color: blue;
}

.money.text {
    color: rgb(139, 61, 74);
}